name: "Clang autoformat"

on:
  push:
    branches:
      - '*'

jobs:
  format:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          ref: ${{ github.ref }}
          fetch-depth: 0       # usar zero para histórico completo

      - name: Prevent Bot Loop (via actor)
        id: check-actor
        run: |
          echo "Actor: ${{ github.actor }}"
          if [ "${{ github.actor }}" = "github-actions[bot]" ]; then
            echo "Triggered by bot — exiting to prevent loop."
            exit 0
          fi

      - name: Prevent Bot Loop (via commit message suffix)
        id: check-commit-message
        run: |
          COMMIT_MESSAGE=$(git log -1 --pretty=%B)
          echo "Commit message: $COMMIT_MESSAGE"
          echo "commit_message=$COMMIT_MESSAGE" >> $GITHUB_OUTPUT
          if echo "$COMMIT_MESSAGE" | grep -q "\[fmt auto\]"; then
            echo "Autoformat tag detected in commit message — exiting."
            exit 0
          fi

      - name: Get original author info
        id: author_info
        run: |
          AUTHOR_NAME=$(git log -1 --pretty=format:'%an')
          AUTHOR_EMAIL=$(git log -1 --pretty=format:'%ae')
          echo "author_name=$AUTHOR_NAME" >> $GITHUB_OUTPUT
          echo "author_email=$AUTHOR_EMAIL" >> $GITHUB_OUTPUT

      - name: Format code with clang-format
        uses: jayllyz/clang-format-action@main
        with:
          check: false
          style: file
          extensions: c,h,cpp,hpp
          clang-version: latest

      - name: Fix .git owner
        run: |
          sudo chown -R $(whoami) .git
          sudo chmod -R u+rwX .git

      - name: Detect changes
        id: git-detect-changes
        run: |
          if git diff --quiet; then
            echo "changes=0" >> $GITHUB_OUTPUT
          else
            echo "changes=1" >> $GITHUB_OUTPUT
          fi

      - name: Amend changes if formatting was applied
        if: ${{ steps.git-detect-changes.outputs.changes == '1' }}
        run: |
          git config user.name "${{ steps.author_info.outputs.author_name }}"
          git config user.email "${{ steps.author_info.outputs.author_email }}"
          git add .
          git commit --amend --no-edit -m "${{ steps.check-commit-message.outputs.commit_message }} [fmt auto]" --author="${{ steps.author_info.outputs.author_name }} <${{ steps.author_info.outputs.author_email }}>"
          git push --force-with-lease origin HEAD:${{ github.ref }}

      - name: Notify if no changes were made
        if: ${{ steps.git-detect-changes.outputs.changes == '0' }}
        run: |
          echo "No formatting changes were made - nothing to amend."